
#fireworksScience {
  position: relative;
  color: #fff;
  font-family: "akkurat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  height: 400vh;
  background-color: transparent;
  padding: 0 20px 10px;
  overflow: hidden;

  @media screen and (min-width: 400px) {
    font-size: 13px;
    padding: 0 40px 40px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 40px 40px;
    font-size: 16px;
  }

  &:before {
    position: absolute;
    top: 100px;
    right: -84px;
    display: none;
    content: "";
    width: 250px;
    height: 100%;
    background: url("/interactive/2018/07/4thOfJuly/dist/images/fuse.svg") no-repeat;
    background-size: 100% auto;

    @media screen and (min-width: 400px) {
      display: block;
    }

    @media screen and (min-width: 768px) {
      width: 300px;
      right: -67px;
    }

    @media screen and (min-width: 1300px) {
        right: calc(50% - 700px);
    }

    @media screen and (min-width: 1400px) {
        right: calc(50% - 780px);
    }
  }



  h2 {
    font-family: "TrimPoster-Slender", "trim-poster", sans-serif;
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.25em;
    text-align: center;

    @media screen and (min-width: 400px) {
      font-size: 50px;
    }

    @media screen and (min-width: 768px) {
      font-size: 80px;
      margin-bottom: 70px;
    }
  }
}

.science-pinned {
  box-sizing: border-box;
  height: 200vh;
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(45,45,45,1) 0%, rgba(0,0,0,0.04) 80%, rgba(0,0,0,0) 83%);
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(45,45,45,1) 0%,rgba(0,0,0,0.04) 80%,rgba(0,0,0,0) 83%);
    background: radial-gradient(ellipse at center, rgba(45,45,45,1) 0%,rgba(0,0,0,0.04) 80%,rgba(0,0,0,0) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#00000000',GradientType=1 );
  }



  &:after {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    content: url("/interactive/2018/07/4thOfJuly/dist/images/spark.gif");
    width: 50px;

    @media screen and (min-width: 400px) {
      display: block;
    }

    @media screen and (min-width: 768px) {
      width: 100px;
      right: -11px;
    }

    @media screen and (min-width: 1300px) {
      right: -4px;
    }

    @media screen and (min-width: 1400px) {
      right: -84px;
    }

    .fixed & {
      z-index: -1;
    }
  }
}

.firework-info {
  position: relative;
  width: 100%;
  height: auto;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;

  @media screen and (min-width: 1200px) {
    margin: 100px auto;
    width: 81.027vh;
    height: 45vh;
  }

  img {
    height: 100%;
    max-width: calc(100vw - 80px);
    max-height: 100%;

    @media screen and (min-width: 1200px) {
      max-width: none;
    }
  }
}

.firework-info-text {
  position: fixed;
  display: none;
  z-index: 9999;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "akkurat";
  font-size: 12px;
  line-height: 1.5em;
  margin: 0;
  padding: 40px 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);

  @media screen and (min-width: 400px) {
    font-size: 13px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 800px) {
    font-size: 16px;
  }


  span {
    max-width: 600px;
    margin: 0 auto;
    display: block;

    a {
      color: #000;
    }
  }
}

.fireworks-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: url("/interactive/2018/07/4thOfJuly/dist/images/close.svg") no-repeat center;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.scienceTrigger {
  opacity: 0;
}

.science-info {
  display: none;
  position: absolute;

  h3 {
    margin: 0;
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-style: italic;
    font-size: 28px;
  }

  .circle {
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 0;
    font-size: 0;
  }

  .line {
    position: absolute;
    display: block;
    border-top: 3px solid #fff;
  }
}

.science-info1 {
  background: url("/interactive/2018/07/4thOfJuly/dist/images/mortar.svg") no-repeat;
  background-size: contain;
  width: 16.7%;
  height: 15%;
  top: 7.5%;
  left: 59%;

  @media screen and (min-width: 400px) {
    top: 7.5%;
    left: 60.5%;
  }
}

.science-info2 {
  background: url("/interactive/2018/07/4thOfJuly/dist/images/shell.svg") no-repeat;
  background-size: contain;
  width: 24.3%;
  height: 33%;
  top: 8%;
  left: 16%;

  @media screen and (min-width: 400px) {
    top: 8%;
    left: 12%;
  }
}

.science-info3 {
  background: url("/interactive/2018/07/4thOfJuly/dist/images/stars.svg") no-repeat;
  background-size: contain;
  width: 36.3%;
  height: 26%;
  top: 35%;
  left: 6%;

  @media screen and (min-width: 400px) {
    left: 0;
  }
}

.science-info4 {
  background: url("/interactive/2018/07/4thOfJuly/dist/images/timed-fuse.svg") no-repeat;
  background-size: contain;
  width: 45.3%;
  height: 26%;
  top: 68%;
  left: 0;
}

.science-info5 {
  background: url("/interactive/2018/07/4thOfJuly/dist/images/bursting.svg") no-repeat;
  background-size: contain;
  width: 48.3%;
    height: 26%;
    top: 34%;
    left: 51.6%;
}

.science-info6 {
  background: url("/interactive/2018/07/4thOfJuly/dist/images/lifting.svg") no-repeat;
  background-size: contain;
  width: 42%;
  height: 26%;
  top: 54%;
  left: 47%;

  @media screen and (min-width: 400px) {
    top: 59%;
  }
}

.science-info7 {
  background: url("/interactive/2018/07/4thOfJuly/dist/images/fuse-text.svg") no-repeat;
  background-size: contain;
  width: 16%;
  height: 15.8%;
  top: 82%;
  left: 66.3%;

  @media screen and (min-width: 400px) {
    top: 84.7%;
  }
}

#science1,
#science2,
#science3,
#science4,
#science5,
#science6,
#science7 {
  position: absolute;
  color: #fff;
}
#science1 {
  top: 30%;
}
#science2 {
  top: 38%;
}
#science3 {
  top: 46%;
}
#science4 {
  top: 54%;
}
#science5 {
  top: 62%;
}
#science6 {
  top: 70%;
}
#science7 {
  top: 80%;
}
